.pageNumbers {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #271313;
}

.pageNumbersCurr {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: rgba(11, 69, 69, 0.397);
  padding: 4px 10px;
  border-radius: 6px;
}

.pageNumbersWrap {
  display: flex;
  gap: 32px;
}

.NumberButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  gap: 8px;
}

.numbersWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.icon {
  width: 18px;
  height: 14px;
  fill: var(--text-color);
}

.dots {
  color: gray;
  padding: 0 5px;
}
