.sliderWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #67b1e981;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #67b1e94f;
  overflow: hidden;
}
.sliderTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #67b1e9c8;
  h2 {
    text-transform: uppercase;
  }
}

.slider {
  width: 100%;
  overflow: hidden;
  border-top: 3px solid #67b1e981;
}
.sliderList {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 700%;
  height: 100%;
}
.slide {
  height: 100%;
  border-radius: 10px;
  margin-left: 5px;
  transition: 1s ease-in-out;
  :last-child {
    margin-left: 0;
  }
  :hover {
    transform: scale(1.02);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
}
.arrowWrap {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.273);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
}
.button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 20px;
  height: 20px;
}
