.container {
  width: 70%;
  margin: auto;
}
.moviesWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.movieItem {
  width: 25%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }
}
