.titleWrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  p {
    margin-top: 10px;
  }
}
.sortingWrap {
  align-self: flex-end;
  width: 30%;
  select {
    width: 60%;
    background: rgba(11, 69, 69, 0.567);
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
  }
}
